.hero {
  min-height: 100vh;
  padding-top: 120px;

  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  background:
    radial-gradient(
      circle at top left,
      rgba(139, 92, 246, 0.25),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(59, 130, 246, 0.25),
      transparent 35%
    ),
    #020617;
}

/* Left Glow */

.hero::before {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  background: #8b5cf6;

  filter: blur(180px);

  opacity: 0.15;

  top: -150px;
  left: -150px;
}

/* Right Glow */

.hero::after {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  background: #3b82f6;

  filter: blur(180px);

  opacity: 0.15;

  bottom: -150px;
  right: -150px;
}

.hero-container {
  width: 90%;
  max-width: 1200px;

  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 4rem;

  position: relative;
  z-index: 10;
}
.hero-content{
  flex:1;
  max-width:600px;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hero-greeting {
  color: #8b5cf6;

  font-size: 1.2rem;
  font-weight: 600;

  margin-bottom: 1rem;
}

.hero-title {
  font-size: 3.8rem;
  line-height: 1.1;

  margin-bottom: 1rem;
}

.hero-role {
  color: #3b82f6;

  margin-bottom: 1rem;

  min-height: 30px;

  font-weight: 700;
}

.hero-description {
  color: #94a3b8;

  line-height: 1.6;

  font-size: 1.05rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;

  margin-top: 1.5rem;
}

.btn-primary {
  padding: 14px 28px;

  border-radius: 50px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #3b82f6
  );

  color: white;

  font-weight: 600;

  transition: 0.4s;
}

.btn-primary:hover {
  transform: translateY(-5px);

  box-shadow:
    0 0 25px rgba(139, 92, 246, 0.6);
}

.btn-secondary {
  padding: 14px 28px;

  border-radius: 50px;

  border: 1px solid rgba(255, 255, 255, 0.15);

  color: white;

  transition: 0.4s;
}

.btn-secondary:hover {
  transform: translateY(-5px);
  background: linear-gradient(
    135deg,
    #8b5cf6,
    #3b82f6
  );
  box-shadow:
    0 0 25px rgba(139, 92, 246, 0.5);
  border-color: #8b5cf6;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icons a {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);

  color: white;

  font-size: 1.2rem;
  transition: 0.3s;
}

.social-icons a:hover{
  transform:translateY(-5px);

  color:#8b5cf6;

  box-shadow:
  0 0 15px rgba(139,92,246,.8);
}

.hero-image {
  flex: 1;

  display: flex;
  justify-content: center;
}

.image-circle {
  width: 430px;
  height: 430px;

  border-radius: 50%;

  overflow: hidden;

  /* border: 4px solid #8b5cf6; */
  border:3px solid rgba(168,85,247,.8);

  box-shadow:
    0 0 25px rgba(139, 92, 246, 0.7),
    0 0 50px rgba(59, 130, 246, 0.4);

  animation: float 4s ease-in-out infinite;
}

.image-circle img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: center 15%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Tablet */

@media screen and (max-width: 992px) {
  .hero-title {
    font-size: 3rem;
  }

  .image-circle {
    width: 350px;
    height: 350px;
  }
}

/* Mobile */

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse;

    text-align: center;
  }

  .hero-title {
    font-size: 2.8rem;
  }

  .hero-description {
    margin: auto;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-icons {
    justify-content: center;
  }

  .image-circle {
    width: 280px;
    height: 280px;
  }
}

/* Small Mobile */

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 2.3rem;
  }

  .hero-description {
    font-size: 0.95rem;
  }

  .image-circle {
    width: 240px;
    height: 240px;
  }
}